.navigation
{
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
    @include container;

    &--forum
    {
        width: 50%;
        margin: 0rem;
        height: 3rem;
        translate: 2rem;
        @include mobile
        {
            translate: 0rem;
            width: 100%;
            margin-left: -1rem;
        }
    }

    &__unorderedList
    {
        display: flex;
        justify-content: space-around;
    }
    &__bullet
    {
        width: 40%;
    }
    &__button
    {
        @include button;
    }
}